.all {
  width: 64%;
  margin: 0 auto;
}
body{
  background-color: #efefef;
  color: #333;
　margin: 0 auto;
}

hi,h2,h3,h4,h5 {
  margin: 0 0 50px 0;
  padding: 8px;
}

header{
  margin: 0 auto;
}

.container{
  width: 920px;
  margin: 0 auto;
}

.header-title-area{
  line-height: 80px;
  text-align: center;
  background-color: #fff;
}

.logo{
  font-size: 32px;
  text-align: center;
}

.header-navigation{
  width: 100%;
  background-color: #000;
  padding: 20px 0;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navigation li {
  float: left;
  padding: 0 20px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #fff;
  text-decoration: none;
}

.text-title {
  font-size: 24px;
  margin-top:10px;
  margin-bottom: 40px;
}

.card-contents {
  padding:25px;
  margin-bottom: 0 auto;
  background-color: #fff;
}

.left-contents {
  width: 600px;
  float: left;
}

.right-contents {
  width: 300px;
  float: left;
}

.staff-image {
  float: left;
}

button{
  padding: 0px 0px;
  border: 3px solid silver;
}
.title {
  font-size: 18px;
  color: #000fff;
}

.description1 {
  font-size: 14px;
  color:  #000;
}

.description2 {
  font-size:13px;
  color:  #000;
  margin: 0 auto;
}

p {
  font-size: 12px;
  color: #000;
}

.text-title2{
  font-size: 25px;
  color: #000;
}
.title2 {
  font-size: 16px;
  color: #000fff;
  float: left;

}
.bar1 {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #efefef;
  border: 0;
}

.bar2 {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #efefef;
  border: 0;
}
.copyright {
  color: #777;
  text-align: center;
}

.main:after {
  clear: both;
  display: block;
  content: " ";
}
